#fond1{
    background:linear-gradient(rgba(84, 119, 69, 0.397),
    rgba(84, 119, 69, 0.397)),url(plan.jpg)
    no-repeat fixed center center;
    background-size: cover;
}
#fond2{
    background:linear-gradient(rgba(69, 74, 119, 0.438),
    rgba(69, 74, 119, 0.438)),url(los.jpg)
    no-repeat fixed center center;
    background-size: cover;
}
#fond3{
    background:linear-gradient(rgba(69, 74, 119, 0.438),
    rgba(69, 74, 119, 0.438)),url(day.jpg)
    no-repeat fixed center center;
    background-size: cover;
}
#fond4{
    background:linear-gradient(rgba(69, 74, 119, 0.438),
    rgba(69, 74, 119, 0.438)),url(plz.jpg)
    no-repeat fixed center center;
    background-size: cover;
}

header, nav, .main, footer{
    width: 99%;
    max-width: 10000px;
    margin: 0px auto;
}

body {
    background:url(plan.jpg) fixed no-repeat center center;
    background-size: cover;
}

nav {
    color:rgb(245, 70, 114);
    background: linear-gradient(30deg,rgb(245, 129, 52),  rgb(241, 119, 62) ,rgb(241, 68, 62));
    overflow: hidden;
    margin: 7px auto;
}

nav ul{
    list-style: none;
}
nav ul li{
    float: left;
    padding: 10px 10px;
}

.main .articless{
    width: 60%;
    margin-right: 1.5%;
    background: rgb(231, 88, 69);
    float:left;
}
.main .articles article{
    padding: 30px;
    background: rgb(231, 88, 69);
    margin-bottom: 30px;
}

footer{
    
    clear:both;
    background: rgb(26, 25, 25);
    color: white;
    padding: 3px;
    text-align: center;
}
body nav ul li a{
    color:rgb(225, 255, 255) !important;
    
}
body nav div a{
    color:white !important;
}

